@charset "UTF-8";

/* font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* font - JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

header {
  right: 0;
  position: fixed;
  z-index: 2;
}

#topLogo img {
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

#link {
  bottom: 25px;
  left: 50%;
  width: 150px;
  height: 22px;
  margin: 0 0 0 -75px;
  position: fixed;
  text-align: center;
}

#link a {
  height: 22px;
  font-size: 11pt;
  font-family: Lato;
  color: #979797;
  text-decoration: none;
  font-weight: 500;
}

#link a:hover {
  color: #E75027;
  transition-duration: .7s;
}

#link span {
  font-size: 11pt;
  font-family: Lato;
  color: #b5b5b5;
}

#copyright {
  left: 50%;
  bottom: 25px;
  position: fixed;
  height: 10px;
  width: 300px;
  margin: 0 0 0 -150px;
}

#copyright p {
  text-align: center;
  font-family: Lato;
  font-size: 8pt;
  color: #BFBFBF;
}

/*------------------------------ addable classes ------------------------------*/

/*------------------------------ medias ------------------------------*/

@media ( max-width: 1200px) {

}

@media ( max-width: 700px ) {
  #copyright {
    bottom: 23px;
  }

  #copyright p {
    font-size: 7pt;
  }
}

@media ( max-width: 550px) {
  #topLogo img {
    width: 80px;
  }

  #link a, #link span {
    font-size: 9pt;
  }
}

@media ( max-width: 380px ) {
  #link a, span {
    font-size: 8pt;
  }

  #copyright p {
    font-size: 6pt;
  }
}

@media ( max-height: 700px ) {
  #topLogo img {
    width: 80px;
  }
}

@media ( max-height: 400px ) {
  #link a, #link span {
    font-size: 9pt;
  }
}

@media (hover: none) and (pointer: coarse) {
  #link a {
    color: #E75027;
  }
}