@charset "UTF-8";

/* font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* font - JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

header {
  right: 0;
  position: fixed;
  z-index: 2;
}

#topLogo img {
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

#book {
  max-width: 50%;
  overflow: hidden;
}

#book img {
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 600px;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

#bookmarks a {
  width: 80px;
  height: 40px;
  border-width: 1px;
  border-radius: 8%;
  border-style: solid;
  position: fixed;
}

#bookmarks a:nth-child(1) {
  background-color: #F7DF1E;
  border-color: #e1ca1b;
  right: 477px;
  bottom: 610px;
}

#bookmarks a:nth-child(2) {
  background-color: #F05138;
  border-color: #c7422e;
  right: 469px;
  bottom: 560px;
}

#bookmarks a:nth-child(3) {
  background-color: #3776AB;
  border-color: #2b5d86;
  right: 460px;
  bottom: 510px;
}

#link {
  bottom: 25px;
  left: 50%;
  width: 150px;
  height: 20px;
  margin: 0 0 0 -75px;
  position: fixed;
  text-align: center;
}

#link a {
  font-size: 11pt;
  font-family: Lato;
  color: #979797;
  text-decoration: none;
}

#link span {
  font-size: 11pt;
  font-family: Lato;
  color: #b5b5b5;
}

#greets {
  left: 20px;
  bottom: 15px;
  position: fixed;
}

#greets span {
  font-family: JetBrains Mono;
  font-size: 11pt;
}

#copyright {
  left: 50%;
  bottom: 25px;
  position: fixed;
  height: 10px;
  width: 300px;
  margin: 0 0 0 -150px;
}

#copyright p {
  text-align: center;
  font-family: Lato;
  font-size: 8pt;
  color: #BFBFBF;
}

@media ( max-width: 1200px) {
  #book img {
    width: 450px;
    right: -150px;
  }

  #bookmarks a {
    width: 60px;
    height: 30px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 211px;
    bottom: 465px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 205px;
    bottom: 425px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 198px;
    bottom: 385px;
  }
}

@media ( max-width: 700px) {
  #book img {
    width: 400px;
    right: -220px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 100px;
    bottom: 415px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 95px;
    bottom: 382px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 90px;
    bottom: 349px;
  }

  #greets span {
    font-size: 10pt;
  }

  #copyright {
    bottom: 23px;
  }

  #copyright p {
    font-size: 7pt;
  }
}

@media ( max-width: 550px) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    width: 350px;
    right: -220px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 61px;
    bottom: 360px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 56px;
    bottom: 330px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 51px;
    bottom: 300px;
  }

  #greets {
    bottom: 50px;
  }

  #greets span {
    font-size: 8pt;
  }

  #link a, #link span {
    font-size: 9pt;
  }
}

@media ( max-width: 380px ) {
  #book img {
    width: 300px;
    right: -205px;
  }

  #greets {
    visibility: hidden;
  }

  #bookmarks a {
    width: 40px;
    height: 18px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 35px;
    bottom: 315px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 30px;
    bottom: 287px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 25px;
    bottom: 259px;
  }

  #link a, span {
    font-size: 8pt;
  }

  #copyright p {
    font-size: 6pt;
  }
}

@media ( max-height: 700px ) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    width: 350px;
    right: -130px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 151px;
    bottom: 360px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 146px;
    bottom: 330px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 140px;
    bottom: 300px;
  }
}

@media ( max-height: 400px ) {
  #book img {
    width: 230px;
    right: -130px;
    bottom: -20px;
  }

  #bookmarks a {
    width: 40px;
    height: 18px;
    border-width: 1px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 54px;
    bottom: 210px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 51px;
    bottom: 185px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 48px;
    bottom: 160px;
  }

  #greets span {
    font-size: 8pt;
  }

  #link a, #link span {
    font-size: 9pt;
  }
}