@charset "UTF-8";

/* font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* font - JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

header {
  right: 0;
  position: fixed;
  z-index: 2;
}

#topLogo img {
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

#book {
  max-width: 50%;
  overflow: hidden;
}

#book img {
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 600px;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

#link {
  bottom: 25px;
  left: 50%;
  width: 150px;
  height: 20px;
  margin: 0 0 0 -75px;
  position: fixed;
  text-align: center;
}

#link a {
  font-size: 11pt;
  font-family: Lato;
  color: #979797;
  text-decoration: none;
}

#link span {
  font-size: 11pt;
  font-family: Lato;
  color: #b5b5b5;
}

#greets {
  left: 20px;
  bottom: 15px;
  position: fixed;
}

#greets span {
  font-family: JetBrains Mono;
  font-size: 11pt;
}

#copyright {
  left: 50%;
  bottom: 25px;
  position: fixed;
  height: 10px;
  width: 300px;
  margin: 0 0 0 -150px;
}

#copyright p {
  text-align: center;
  font-family: Lato;
  font-size: 8pt;
  color: #BFBFBF;
}

@media ( max-width: 1000px) {
  #book img {
    width: 500px;
    right: -200px;
  }
}

@media ( max-width: 700px) {
  #book img {
    width: 400px;
    right: -200px;
  }

  #greets span {
    font-size: 10pt;
  }

  #copyright {
    bottom: 23px;
  }

  #copyright p {
    font-size: 7pt;
  }
}

@media ( max-width: 500px) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    width: 400px;
    right: -270px;
  }

  #greets {
    bottom: 45px;
  }

  #greets span {
    font-size: 9pt;
  }

  #link a, #link span {
    font-size: 9pt;
  }
}

@media ( max-width: 350px) {
  #book {
    width: 30%;
    right: -300px;
  }

  #greets {
    visibility: hidden;
  }

  #link a, span {
    font-size: 8pt;
  }

  #copyright p {
    font-size: 6pt;
  }
}

@media ( max-height: 900px) {
  #book img {
    height: 550px;
    width: auto;
  }
}

@media ( max-height: 700px) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    height: 70%;
    left: 80%;
  }
}