@charset "UTF-8";

/* font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* font - JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Lato:wght@100;300;400;700;900&display=swap');

header {
  right: 0;
  position: fixed;
  z-index: 2;
}

#topLogo img {
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

#book {
  max-width: 50%;
  overflow: hidden;
}

#book img {
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 600px;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

#bookmarks a {
  width: 80px;
  height: 40px;
  border-width: 1px;
  border-radius: 8%;
  border-style: solid;
  position: fixed;
  transition-duration: .12s;
  transition-timing-function: ease-in-out;
}

#bookmarks a:hover {
  width: 110px;
  transition-duration: .12s;
  transition-timing-function: ease-in-out;
}

#bookmarks a:nth-child(1) {
  background-color: #F7DF1E;
  border-color: #e1ca1b;
  right: 477px;
  bottom: 610px;
}

#bookmarks a:nth-child(2) {
  background-color: #F05138;
  border-color: #c7422e;
  right: 469px;
  bottom: 560px;
}

#bookmarks a:nth-child(3) {
  background-color: #3776AB;
  border-color: #2b5d86;
  right: 460px;
  bottom: 510px;
}

.mobiledesc {
  visibility: hidden;
}

#link {
  bottom: 25px;
  left: 50%;
  width: 150px;
  height: 22px;
  margin: 0 0 0 -75px;
  position: fixed;
  text-align: center;
}

#link a {
  height: 22px;
  font-size: 11pt;
  font-family: Lato;
  color: #979797;
  text-decoration: none;
  font-weight: 500;
}

#link a:hover {
  color: #E75027;
  transition-duration: .7s;
}

#link span {
  font-size: 11pt;
  font-family: Lato;
  color: #b5b5b5;
}

#greets {
  left: 20px;
  bottom: 15px;
  position: fixed;
}

#greets span {
  font-family: JetBrains Mono;
  font-size: 11pt;
}

#copyright {
  left: 50%;
  bottom: 25px;
  position: fixed;
  height: 10px;
  width: 300px;
  margin: 0 0 0 -150px;
}

#copyright p {
  text-align: center;
  font-family: Lato;
  font-size: 8pt;
  color: #BFBFBF;
}

/*------------------------------ addable classes ------------------------------*/

.bookmark1 {
  position: fixed;

  right: 607px; /* #bookmark a 1th's right + 130px */
  bottom: 622px; /* #bookmark a 1th's bottom + 12px */

  font-family: Lato;
  font-weight: 300;
  font-size: larger;
}

.bookmark2 {
  position: fixed;

  right: 599px;
  bottom: 572px;

  font-family: Lato;
  font-weight: 300;
  font-size: larger;
}

.bookmark3 {
  position: fixed;

  right: 590px;
  bottom: 522px;

  font-family: Lato;
  font-weight: 300;
  font-size: larger;
}

.textBlue {
  color: rgb(44, 138, 244);
}

.textRed {
  color: rgb(230, 68, 28);
}

/*------------------------------ medias ------------------------------*/

@media ( max-width: 1200px) {
  #book img {
    width: 450px;
    right: -150px;
  }

  #bookmarks a {
    width: 60px;
    height: 30px;
    border-width: 1px;
  }

  #bookmarks a:hover {
    width: 80px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 211px;
    bottom: 465px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 205px;
    bottom: 425px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 198px;
    bottom: 385px;
  }

  .bookmark1 {
    right: 311px; 
    bottom: 472px; 
    font-size: medium;
  }
  
  .bookmark2 {
    right: 305px;
    bottom: 432px;
    font-size: medium;
  }
  
  .bookmark3 {
    right: 298px;
    bottom: 392px;
    font-size: medium;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {
      right: 311px; 
      bottom: 472px; 
      font-size: medium;
    }
    
    #desc2 {
      right: 305px;
      bottom: 432px;
      font-size: medium;
    }
    
    #desc3 {
      right: 298px;
      bottom: 392px;
      font-size: medium;
    }
  }
}

@media ( max-width: 700px ) {
  #book img {
    width: 400px;
    right: -220px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
    border-width: 1px;
  }

  #bookmarks a:hover {
    width: 70px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 100px;
    bottom: 415px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 95px;
    bottom: 382px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 90px;
    bottom: 349px;
  }

  .bookmark1 {
    right: 190px; 
    bottom: 420px; 
    font-size: small;
  }
  
  .bookmark2 {
    right: 185px;
    bottom: 387px;
    font-size: small;
  }
  
  .bookmark3 {
    right: 180px;
    bottom: 354px;
    font-size: small;
  }

  #greets span {
    font-size: 10pt;
  }

  #copyright {
    bottom: 23px;
  }

  #copyright p {
    font-size: 7pt;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {
      right: 190px;
      bottom: 420px;
      font-size: small;
    }
    
    #desc2 {
      right: 185px;
      bottom: 387px;
      font-size: small;
    }
    
    #desc3 {
      right: 180px;
      bottom: 354px;
      font-size: small;
    }
  }
}

@media ( max-width: 550px) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    width: 350px;
    right: -220px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
    border-width: 1px;
  }

  #bookmarks a:hover {
    width: 70px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 61px;
    bottom: 360px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 56px;
    bottom: 330px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 51px;
    bottom: 300px;
  }

  .bookmark1 {
    right: 190px; 
    bottom: 420px; 
    font-size: small;
  }
  
  .bookmark2 {
    right: 185px;
    bottom: 387px;
    font-size: small;
  }
  
  .bookmark3 {
    right: 180px;
    bottom: 354px;
    font-size: small;
  }

  #greets {
    bottom: 50px;
  }

  #greets span {
    font-size: 8pt;
  }

  #link a, #link span {
    font-size: 9pt;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {
    }
    
    #desc2 {
    }
    
    #desc3 {
    }
  }
}

@media ( max-width: 380px ) {
  #book img {
    width: 300px;
    right: -205px;
  }

  #greets {
    visibility: hidden;
  }

  #bookmarks a {
    width: 40px;
    height: 18px;
    border-width: 1px;
  }

  #bookmarks a:hover {
    width: 55px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 35px;
    bottom: 315px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 30px;
    bottom: 287px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 25px;
    bottom: 259px;
  }

  #link a, span {
    font-size: 8pt;
  }

  #copyright p {
    font-size: 6pt;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {
    }
    
    #desc2 {
    }
    
    #desc3 {
    }
  }
}

@media ( max-height: 700px ) {
  #topLogo img {
    width: 80px;
  }

  #book img {
    width: 350px;
    right: -220px;
  }

  #bookmarks a {
    width: 50px;
    height: 23px;
  }

  #bookmarks a:hover {
    width: 65px;
    height: 23px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 61px;
    bottom: 360px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 56px;
    bottom: 330px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 50px;
    bottom: 300px;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {

    }
    
    #desc2 {

    }
    
    #desc3 {

    }
  }
}

@media ( max-height: 400px ) {
  #book img {
    width: 230px;
    right: -130px;
    bottom: -20px;
  }

  #bookmarks a {
    width: 40px;
    height: 18px;
    border-width: 1px;
  }

  #bookmarks a:hover {
    width: 50px;
    height: 18px;
  }
  
  #bookmarks a:nth-child(1) {
    right: 54px;
    bottom: 210px;
  }
  
  #bookmarks a:nth-child(2) {
    right: 51px;
    bottom: 185px;
  }
  
  #bookmarks a:nth-child(3) {
    right: 48px;
    bottom: 160px;
  }

  #greets span {
    font-size: 8pt;
  }

  #link a, #link span {
    font-size: 9pt;
  }

  @media (hover: none) and (pointer: coarse) {

    #bookmarks span {
      visibility: hidden;
    }

    .mobiledesc {
      visibility: visible;
    }
    
    #desc1 {

    }
    
    #desc2 {

    }
    
    #desc3 {

    }
  }
}